@model PagedList.IPagedList<StreamSafari.ViewModel.ViewModels.MovieViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" ,rel="stylesheet" ,type="text/css" />
@{
    ViewBag.Title = "Movies";
}

@using (Html.BeginForm(FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name","Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>

        <th>
            @Html.ActionLink("Language", "Index", new { sortOrder = ViewBag.LanguageSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>


        <th></th>
    </tr>

    @foreach (var movies in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(m => movies.Name)
            </td>
            <td>
                @Html.DisplayFor(m => movies.Language)
            </td>


        </tr>

    }
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))




