
@model StreamSafari.ViewModel.ViewModels.UserViewModel

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Login";
    bool IsUserNotCreated = ViewBag.IsUserNotCreated ?? false;

}

<h4>Login</h4>

@using (Html.BeginForm(Html.BeginForm("Login", "User", FormMethod.Post)))
{
    @Html.HiddenFor(m => m.UserId)
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-10">
            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-10">

            <input type="submit" value="Login" />
        </div>


    </div>
    @Html.ActionLink("Create", "CreateUser")

    @if (IsUserNotCreated)
    {
        <div class="col-md-10">
            @Html.Label("User Not Created")
        </div>
    }

</div>
}

